<!-- profile section (the ## is where it should connect to the backend because that info changes) -->
<div class="contenedor-perfil">

  <div class="card-perfil">

    <div class="perfil-header">

      <div class="foto-perfil">
        <img src="assets/mundo.png" alt="profile">
      </div>

      <div class="info-principal">
        <h1>{{ usuario }}</h1>
        <p>GeoQuest Player</p>
      </div>

    </div>

    <div class="estadisticas">

      <div class="stat">
        <h2>Ranking</h2>
        <span>###</span>
      </div>

      <div class="stat">
        <h2>Correct Answers</h2>
        <span>###</span>
      </div>

      <div class="stat">
        <h2>Games Played</h2>
        <span>##</span>
      </div>

      <div class="stat">
        <h2>I don't know what else</h2>
        <span>###</span>
      </div>

    </div>

    <div class="descripcion">
      <h2>Description</h2>

      <p>
        A player passionate about geography, history, and world culture.
        Learner of Flags, Capitals, Historical Facts, and much more.
      </p>
    </div>

  </div>

</div>

<button class="btn-back" routerLink="/home">←</button>
