<div class="auth-header-container">

  <div class="auth-header">
    <img src="assets/logo.png" alt="GEOQUEST" />
    <h1 class="auth-title">GEOQUEST</h1>
  </div>
</div>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <div class="auth-container">
    <div class="auth-card">

      <h2 class="form-title">REGISTER</h2>

      <div class="form-group">

        <label>Username:</label>

        <input type="text" class="form-input"
               id="usuario"
               name="username"
               [(ngModel)]="registerData.username"
               placeholder="Enter username"
               required
               minlength="3"
               #username="ngModel" />

        <div *ngIf="username.invalid && username.touched" class="error">
          <div *ngIf="username.errors?.['required']"><b>Username</b> is required</div>
          <div *ngIf="username.errors?.['minlength']"><b>Minimum 3 characters</b></div>
        </div>

      </div>

      <div class="form-group">

        <label>Password:</label>

        <input type="password" class="form-input"
               id="password"
               name="password"
               [(ngModel)]="registerData.password"
               placeholder="Password"
               required
               minlength="6"
               #password="ngModel" />

        <div *ngIf="password.invalid && password.touched" class="error">
          <div *ngIf="password.errors?.['required']"><b>Password</b> is required</div>
          <div *ngIf="password.errors?.['minlength']"><b>Minimum 6 characters</b></div>
        </div>

      </div>

      <button class="btn-enter" type="submit"
              [disabled]="registerForm.invalid">ENTER</button>

      <p class="auth-link">Already have an account? <a routerLink="/login">Log In</a></p>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div *ngIf="successMessage" class="success-Message">
        {{ successMessage }}
      </div>

    </div>
  </div>
</form>
