<div class="auth-header-container">

  <div class="auth-header">
    <img src="assets/logo.png" alt="GEOQUEST" />
    <h1 class="auth-title">GEOQUEST</h1>
  </div>
</div>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="auth-container">
    <div class="auth-card">
      <h2 class="form-title">LOGIN</h2>

      <div class="form-group">

        <label>Username:</label>
        <input class="form-input"
               type="text"
               id="username"
               name="username"
               [(ngModel)]="loginData.username"
               placeholder="Username"
               required
               #username="ngModel" />

      </div>
      <div *ngIf="username.invalid && username.touched" class="error">
        Username is required
      </div>

      <div class="form-group">
        <label>Password:</label>
        <div class="input-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-input"
            id="password"
            name="password"
            [(ngModel)]="loginData.password"
            placeholder="Your password"
            required
            #password="ngModel"
          />
          <button type="button" class="toggle-password" (click)="showPassword = !showPassword">
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
              <circle cx="12" cy="12" r="3"/>
            </svg>
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94"/>
              <path d="M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19"/>
              <line x1="1" y1="1" x2="23" y2="23"/>
            </svg>
          </button>
        </div>
      </div>
      <div *ngIf="password.invalid && password.touched" class="error">
        <div *ngIf="password.errors?.['required']">Password is required</div>
      </div>
      <button class="btn-enter"
              type="submit" [disabled]="loginForm.invalid">ENTER
      </button>
      <p class="auth-link">Don't have an account? <a routerLink="/register">Sign up</a></p>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-Message">
      {{ successMessage }}
    </div>
  </div>
</form>
