<div class="auth-header-container">

  <div class="auth-header">
    <img src="assets/logo.png" alt="GEOQUEST" />
    <h1 class="auth-title">GEOQUEST</h1>
  </div>
</div>

<div class="auth-container">
  <div class="auth-card">
    <h2 class="form-title">INICIAR SESIÓN</h2>

    <div class="form-group">
      <label>Usuario:</label>
      <input type="email" class="form-input" />
    </div>

    <div class="form-group">
      <label>Contraseña:</label>
      <input type="password" class="form-input" />
    </div>

    <button routerLink="/home" class="btn-enter">ENTRAR</button>

    <p class="auth-link">¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>

  </div>

</div>
