<div class="hero">

  <div class="hero-header">
    <h1 class="hero-title">About the Creators</h1>
  </div>

  <p class="hero-descripcion">
    GeoQuest was developed as an interactive platform focused on geographic
    and historical learning. The goal is to combine education and entertainment through
    visual and competitive experiences.
  </p>

  <h2 class="hero-team">Development Team:</h2>

  <div class="hero-cards">

    <div class="hero-card">
      <h2 class="card-title">Isabella Rodriguez</h2>
      <p class="card-texto">Backend development, logic, and data management.</p>
      <p class="card-texto">To learn more about the project and previous work:</p>
      <a href="https://github.com/isabellard" target="_blank" class="card-cta">View repository →</a>
    </div>

    <div class="hero-card">
      <h2 class="card-title">Luna Calderon</h2>
      <p class="card-texto">Frontend development and interface design.</p>
      <p class="card-texto">To learn more about the project and previous work:</p>
      <a href="https://github.com/7Linxx?tab=repositories" target="_blank" class="card-cta">View repository →</a>
    </div>

    <div class="hero-card">
      <h2 class="card-title">Nataly Manrique</h2>
      <p class="card-texto">Frontend development, user experience, and documentation.</p>
      <p class="card-texto">To learn more about the project and previous work:</p>
      <a href="https://github.com/nmanriqueve-hue?tab=repositories" target="_blank" class="card-cta">View repository
        →</a>
    </div>

  </div>

  <button class="btn-back" routerLink="/home">←</button>

</div>
