<div class="contenedor-como-jugar">

  <div class="card-como-jugar">

    <h1>How to play?</h1>

    <p>
      GeoQuest is a video game designed for learning geography and history
      in a simple and fun way, where you can progress by answering questions
      in different world contexts related to countries, capitals, flags,
      continents, and historical events.
    </p>

    <p>
      The platform offers different game modes, which you can select before starting.
    </p>

    <div class="seccion">
      <h2>Question classification</h2>

      <ul>
        <p>Each question has its own characteristics that will be chosen by the player, such as:</p>
        <li> ☆ Category</li>
        <li> ★ Type</li>
        <li> ☆ Difficulty level</li>
      </ul>
    </div>

    <div class="seccion">
      <h2>How to progress?</h2>

      <p>
        Each question is associated with a country, historical event, or representative element
        such as its flag or capital.
      </p>

      <p>
        Users participate in matches where they answer questions by selecting the correct answer
        in a multiple-choice version, and they earn points based on their correct answers,
        which increases their ranking within the game.
      </p>
    </div>

  </div>
  <button class="btn-back" routerLink="/home">←</button>
</div>
